experiments/
data/
repo/
__pycache__/
SFConfict
.vscode/
.ipynb_checkpoints/
id_rsa
fashion_mnist_data/
.sync/
pretrained_models/
Caltech256/
imagenet-autoencoder/
main_2.py 
main_old.py 
d2l_test.py

